# package directories
node_modules
jspm_packages

# Serverless directories
.serverless

# Webpack directories
.webpack


# Logs
logs/
*.log

# Runtime data
pids/
*.pid
*.seed
*.pid.lock

# Directory for storing .pid files
pm2/

# Editor directories and files
.idea/
.vscode/
.DS_Store
.editorconfig
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*

# Optional npm cache directory
.npm
